
            <div class="col-4 d-none"><input type="text" id="userInput" /></div>
        
     
            <div class="col-4 d-none"><input type="text" id="messageInput" /></div>
     
                <input type="button"  id="sendButton" onclick="a();" value="Send Message" class="d-none" />



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

