<div class="page-content-wrapper">
  <div class="container">
    <!-- Checkout Wrapper-->
    <div class="checkout-wrapper-area py-3">
      <!-- Billing Address-->
      <div class="billing-information-card mb-3">
        <div class="card billing-information-title-card bg-success">
          <div class="card-body">
            <h6 class="text-center mb-0 text-white">اطلاعات تماس </h6>
          </div>
        </div>
        <div class="card user-data-card">
          <div class="card-body">
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-user"></i><span>آدرس</span></div>
              <div class="data-content">چمران جنوبی، کوی قائم، خیابان استقلال، 16 متری فضیلت</div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-envelope"></i><span>تلفن تماس</span></div>
              <div class="data-content"><a  style="background-color: #00b894 !important;" class="btn btn-success w-100" href="tel: 04435235222 ">
                04435235222 
              </a></div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-phone"></i><span>تلفن تماس</span></div>
              <div class="data-content"><a style="background-color: #00b894 !important;" class="btn btn-success w-100" href="tel:04435236333">
              04435236333</a></div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>آدرس
                  اینیستاگرام</span></div>
              <div class="data-content">Taxijo_com</div>
            </div>
            <div class="single-profile-data d-flex align-items-center justify-content-between">
              <div class="title d-flex align-items-center"><i class="lni lni-map-marker"></i><span>آدرس تلگرام</span>
              </div>
              <div class="data-content">Taxijo_com</div>
            </div>
            @* <!-- Edit Address--><a class="btn btn-danger w-100" href="edit-profile.html">اطلاعات صورتحساب را ویرایش
              کنید</a> *@
          </div>
        </div>
      </div>
      <!-- Shipping Method Choose-->


    </div>
  </div>
</div>