<div class="page-content-wrapper">
      <div class="container">
        <!-- Checkout Wrapper-->
        <div class="checkout-wrapper-area py-3">
          <!-- Choose Payment Method-->
          <div class="choose-payment-method">
            @* <h6 class="mb-3 text-center">روش پرداخت را انتخاب کنید</h6> *@
            <div class="row justify-content-center g-3">
              <!-- Single Payment Method-->
              <div class="col-6 col-md-5">
                <div class="single-payment-method"><a class="credit-card" href="checkout-credit-card.html"><i class="lni lni-credit-cards"></i>
                    <h6> اعتبار شما</h6></a></div>
              </div>
              <!-- Single Payment Method-->
              <div class="col-6 col-md-5">
                <div class="single-payment-method"><a class="bank" href="checkout-bank.html"><i class="lni lni-user"></i>
                    <h6>تعداد سفرها</h6></a></div>
              </div>
              <!-- Single Payment Method-->
              <div class="col-6 col-md-5">
                <div class="single-payment-method"><a class="paypal" href="checkout-paypal.html"><i class="lni lni-revenue"></i>
                    <h6> درآمد ها</h6></a></div>
              </div>
              <!-- Single Payment Method-->
              <div class="col-6 col-md-5">
                <div class="single-payment-method"><a class="cash" href="checkout-cash.html"><i class="lni lni-empty-file"></i>
                    <h6> درخواست های جاری</h6></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>